/co.yat.ios.container/bin/
/co.yat.ios.container/obj/
/co.yat.ios.container/co.yat.ios.binding/obj/
/co.yat.ios.container/co.yat.ios.binding/bin/
/co.yat.ios.ExampleView/Build/Intermediates/
/co.yat.ios.ExampleView/Build/
/.DS_Store
/co.yat.android.container/bin/
/co.yat.android.container/co.yat.android.binding/.DS_Store
/co.yat.android.container/.DS_Store
/co.yat.android.container/co.yat.android.binding/bin/
/co.yat.android.container/co.yat.android.binding/obj/
/co.yat.android.container/obj/
/co.yat.android.ExampleView/.DS_Store
/co.yat.android.ExampleView/bin/classes/
/co.yat.android.ExampleView/bin/res/
/co.yat.android.ExampleView/bin/
/co.yat.android.container/co.yat.android.binding/ExampleView.zip
/co.yat.android.binding/.DS_Store
/co.yat.android.binding/bin/
/co.yat.android.binding/obj/
/co.yat.android.binding/ExampleView.zip
/co.yat.ios.ExampleView/.DS_Store
/co.yat.ios.ExampleViewTester/Build/
/co.yat.ios.ExampleViewTester/Products/.DS_Store
/co.yat.ios.ExampleViewTester/.DS_Store
/co.yat.ios.ExampleViewTester/Products/
/co.yat.ios.container/co.yat.ios.binding/libExampleView.a
/co.yat.ios.container/co.yat.ios.binding/libExampleView.linkwith.cs
/co.yat.ios.container/testresults/
bin
/co.yat.ios.binding/obj/
test_servers
screenshot_
screenshot_(.*).png
screenshot_0.png
/tests/
/co.yat.android.container/screenshot_1.png
/co.yat.android.container/screenshot_2.png