/co.yat.ios.container/bin/
/co.yat.ios.container/obj/
/co.yat.ios.container/co.yat.ios.binding/obj/
/co.yat.ios.container/co.yat.ios.binding/bin/
/co.yat.ios.ExampleView/Build/Intermediates/
/co.yat.ios.ExampleView/Build/